<!DOCTYPE html>
<html>
<head>
  <title>Error Occured | Agendaworks</title>
  <style type="text/css" media="screen">
    body {
      background-color: skyblue;
      text-decoration-color: white;
    }
  </style>
</head>
<body>
  <div>
    <h1><%=error.status %>: <%=message %></h1>
    <br>
    <br>
    <p><%=error.stack %></p>
  </div>
</body>
</html>